<div class="w-full flex flex-col gap-4">
  <% 10.times do %>
    <div class="card">
      <div class="card-header">
      <div class="profile-img">
        <img class="profile-img" src="https://via.placeholder.com/90"/>
      </div>
      <div class="profile-info">
        <div class="name">usuario01</div>
        <div class="location">Algum Lugar</div>
      </div>
      <div class="time">
        1hr
      </div>
      </div>
      <div class="image-content">
        <img src="https://images.unsplash.com/photo-1600096194534-95cf5ece04cf?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" class="image" />
      </div>
      <div class="card-footer p-2">
        <div class="footer-content text-sm">
          <span class="likes">N curtidas</span>
          <p>
            <span class="font-bold">usuario01</span>
            Descrição da Foto
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>
